<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/contacto.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css"/>
    <title>Contactenos</title>
    <!-- RESOURCES -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/icons/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/icons/@fortawesome/fontawesome-free/css/all.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- PUT HERE YOUR SCRIPT AND CSS RESOURCES -->
</head>
<body>
    <main class="body_container">
        <div id="body" class="body">
            
            <div class="body_logo_container">
                <h1>
                    LONDON BAR
                </h1>
            </div>

            <div id="menu_button" class="active_menu_container">
                <i class="fas fa-ellipsis-h"></i>
            </div>

            <div id="menu" class="body_header_background">
                <header class="body_header_container">
                    <div class="header_logo_container">
                        <h2>
                            <a href="../index.htm">
                                LONDON BAR
                            </a>
                        </h2>
                    </div>
                    <nav class="header_menu_list_container">
                        <ul>
                            <li>
                                <a href="../index.htm">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="noticias.htm">
                                    Noticias
                                </a>
                            </li>
                            <li>
                                <a href="galeria.htm">
                                    Galería
                                </a>
                            </li>
                            <li>
                                <a href="reservaciones.htm">
                                    Reservaciones
                                </a>
                            </li>
                            <li>
                                <a href="contactenos.htm">
                                    Contáctenos
                                </a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="body_contact_container">
                <div class="contact_subtitle_container">
                    <h2>
                        Contáctenos y obtenga los mejores descuentos para su próxima visita a nuestro bar.
                    </h2>
                </div>
                <div class="contact_inputs_container">
                    <form action="">
                        <input type="text" placeholder="Tu nombre" required/>

                        <input type="email" placeholder="Email" required/>

                        <input type="number" placeholder="Télefono" required/>

                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea>

                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="contact_information_container">
                    <h3>
                        Tenga en cuenta los horarios de atención a nuestros clientes :)
                    </h3>

                    <br>

                    <h4>
                        Horarios de apertura
                    </h4>

                    <p>
                        Lunes a viernes: <time>7 am - 10 pm</time>
                        <br>
                        Sábado: <time>7 am - 1 pm</time>
                        <br>
                        Domingo: <time>7 am - 1 pm</time>
                        <br>
                        London bar, Súcre, Planeta Rica, Córdoba
                    </p>

                    <h4>
                        Recuerda escribirnos a nuestro correo:
                    </h4>

                    <br>

                    <strong>
                        corporaciones.tr@gmail.com
                    </strong>
                </div>
            </div>
        </div>
        
        <div class="go_up_button">
            <a href="#body">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>

        <footer class="footer_container">
            <div class="footer">
                <div class="footer_location_container">
                    <a href="">
                        <h3>
                            Medellín
                        </h3>
                    </a>
                    <small>
                        <a href="">
                            (+57) 319 4636414
                        </a>
                        <br>
                        <a href="">
                            Calle 56 #40-23, Córdoba - Planeta Rica
                        </a>
                    </small>
                </div>
                <div class="footer_social_container">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="footer_designed_by_container">
                    <p>
                        Diseñado por <strong>TR Corporations</strong>
                    </p>
                </div>
            </div>
        </footer>
    </main>
    <script type="text/javascript" src="../assets/scripts/main.js"></script>
</body>
</html>